<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <ros2_control name="opendog_ros2_control" type="system">
        <hardware>
            <plugin>pi3hat_hardware_interface/Pi3HatControlHardware</plugin>
            <param name="imu_mounting_deg.yaw">0</param>
            <param name="imu_mounting_deg.pitch">0</param>
            <param name="imu_mounting_deg.roll">0</param>
        </hardware>

        <joint name="FL_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">1</param>
            <param name="position_offset">0.45</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FL_uleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">2</param>
            <param name="position_offset">-0.4</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FL_lleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">3</param>
            <param name="position_offset">0.4</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FR_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">4</param>
            <param name="position_offset">-0.3</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FR_uleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">5</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FR_lleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">6</param>
            <param name="position_offset">0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BL_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">3</param>
            <param name="can_id">7</param>
            <param name="position_offset">-0.4</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BL_uleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">3</param>
            <param name="can_id">8</param>
            <param name="position_offset">-0.3</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BL_lleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">3</param>
            <param name="can_id">9</param>
            <param name="position_offset">-0.4</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BR_hip_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">4</param>
            <param name="can_id">10</param>
            <param name="position_offset">0.4</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BR_uleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">4</param>
            <param name="can_id">11</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BR_lleg_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">4</param>
            <param name="can_id">12</param>
            <param name="position_offset">-0.4</param>
            <param name="control_mode">position</param>
        </joint>

        <!--  -->

        <!-- <joint name="FL_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">-0.0</param>
            </state_interface>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">1</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FL_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">-0.0</param>
            </state_interface>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">2</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FL_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.45</param>
            </state_interface>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">3</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">4</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FR_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">5</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="FR_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">2</param>
            <param name="can_id">6</param>
            <param name="position_offset">0.45</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BL_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>

            <param name="can_channel">3</param>
            <param name="can_id">7</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BL_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">3</param>
            <param name="can_id">8</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BL_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">3</param>
            <param name="can_id">9</param>
            <param name="position_offset">0.45</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BR_hip_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">4</param>
            <param name="can_id">10</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BR_uleg_joint">
            <command_interface name="position">
                <param name="min">-1.2217</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">4</param>
            <param name="can_id">11</param>
            <param name="position_offset">-0.0</param>
            <param name="control_mode">position</param>
        </joint>

        <joint name="BR_lleg_joint">
            <command_interface name="position">
                <param name="min">0.45</param>
                <param name="max">2.3562</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>


            <param name="can_channel">4</param>
            <param name="can_id">12</param>
            <param name="position_offset">0.45</param>
            <param name="control_mode">position</param>
        </joint> -->

    <!-- <sensor name="imu_sensor">
        <state_interface name="orientation.x"/>
        <state_interface name="orientation.y"/>
        <state_interface name="orientation.z"/>
        <state_interface name="orientation.w"/>
        <state_interface name="angular_velocity.x"/>
        <state_interface name="angular_velocity.y"/>
        <state_interface name="angular_velocity.z"/>
        <state_interface name="linear_acceleration.x"/>
        <state_interface name="linear_acceleration.y"/>
        <state_interface name="linear_acceleration.z"/>
    </sensor> -->

    </ros2_control>

</robot>